# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit local secrets (do not upload your API key!)
.streamlit/secrets.toml

# Virtual environments
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
